{
    "rules": [
        {
            "triggerType": "suffix",
            "triggerword": "犬"
        },
        {
            "triggerType": "suffix",
            "triggerword": "はる"
        },
        {
            "triggerType": "prefix",
            "triggerword": "@cohalz update_name ",
            "omitTriggerWord": true,
            "replyFormat": "%sになりました"
        },
        {
            "triggerType": "suffix",
            "triggerword": "(@cohalz)",
            "omitTriggerWord": true,
            "replyFormat": "%sになりました"
        }
    ],
    "credential": {
        "accessToken": "",
        "accessTokenSecret": "",
        "consumerKey": "",
        "consumerSecret": ""
    }
} 