{
    "rules": [
        {
            "triggerType": "ng",
            "triggerWord": "うんこはる",
            "replyFormat": "だまれ"
        },
        {
            "triggerType": "suffix",
            "triggerWord": "犬"
        },
        {
            "triggerType": "suffix",
            "triggerWord": "いぬ"
        },
        {
            "triggerType": "suffix",
            "triggerWord": "イヌ"
        },
        {
            "triggerType": "suffix",
            "triggerWord": "はる"
        },
        {
            "triggerType": "prefix",
            "triggerWord": "@cohalz update_name ",
            "omitTriggerWord": true,
            "replyFormat": "%sになりました"
        },
        {
            "triggerType": "suffix",
            "triggerWord": "(@cohalz)",
            "omitTriggerWord": true,
            "replyFormat": "%sになりました"
        }
    ],
    "credential": {
        "accessToken": "",
        "accessTokenSecret": "",
        "consumerKey": "",
        "consumerSecret": ""
    }
} 